/* 애니메이션 요소별 시간 설정 */
/* 알파벳이 같은 경우, 숫자값은 동일하고 */
/* 알파벳순, 숫자순으로 시간차를 두어야 합니다 */
/* A > B > C */
/* 단위는 'second' 입니다 */

/* thumbnail zoom out 효과 */
.paging.current .bar {
  transition-duration: 5s; /* A */
}
/* paging bar 흘러가는 효과 */
.widget.widget--v .item.current .thumbnail {
  transition-duration: 5s; /* A */
}

/* name 영역 */
/* 텍스트 none + 왼쪽에서 오른쪽으로 밀리며 나타나는 효과 */
.widget.widget--v .name__text {
  transition-duration: 0.6s;
  transition-delay: 1s; /* B */
}
/* 텍스트 배경이 왼쪽에서 오른쪽으로 그려지는 효과 */
.widget.widget--v .name__bg {
  transition-duration: 0.6s; /* C1 */
  transition-delay: 0.3s; /* C2 */
}
/* 왼쪽의 세로 bar가 나타나는 효과 */
.widget.widget--v .name:before {
  transition-duration: 0.3s; /* C2 */
}

.widget.widget--v {
  padding: 0;
}

.widget.widget--v .title {
  font-size: 24px;
  padding: 0;
  margin-bottom: 12px;
  border: none;
}

.widget.widget--v .target-wrap {
  padding-top: 10px;
}
.widget.widget--v .target {
  position: relative;
  left: 0;
  top: 0;
}

.widget.widget--v .item {
  padding: 0 0 50px;
  position: relative;
}

.widget.widget--v .thumbnail-wrap {
  float: none;
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  margin: 0;
  position: relative;
}
.widget.widget--v .thumbnail-wrap:after {
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget.widget--v .thumbnail {
  transform: scale(1.1);
  transition: none;
}
.widget.widget--v .item.current .thumbnail {
  transform: scale(1) !important;
  transition-property: transform;
  transition-timing-function: linear;
}

.widget.widget--v .name {
  position: absolute;
  width: 92%;
  left: 4%;
  z-index: 2;
  padding-top: 0;
  margin: -24px 0 0;
  height: auto;
  max-height: calc(3em + 10px);
  font-size: 18px;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

.widget.widget--v .name:after,
.widget.widget--v .name:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.widget.widget--v .name:before {
  width: 5px;
  height: 0;
  z-index: 1;
  background: #1e7ebb;
  transition-property: height;
  transition-timing-function: ease-in;
}

.widget.widget--v .name.current:before {
  height: 100%;
}

.widget.widget--v .name__bg {
  right: 100%;
  transition-property: right;
  transition-timing-function: ease-in-out 0.3s;
}
.widget.widget--v .name.current .name__bg {
  display: inline-block;
  background: #ededed;
  position: relative;
  right: 0;
  padding: 5px 20px;
}
.widget.widget--v .name:hover .name__bg {
  background: rgb(180, 207, 224);
}

.widget.widget--v .name__text {
  font-weight: 700;
  opacity: 0;
  position: relative;
  left: -8px;
  transition-property: opacity left;
  transition-timing-function: ease-in-out;
}
.widget.widget--v .name.current .name__text {
  left: 0;
  opacity: 1;
}

.powered-by {
  top: 12px;
}

.pagings {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 -5px;
}

.paging {
  flex-grow: 1;
  margin: 0 5px;
  height: 4px;
  border-radius: 0;
  position: relative;
  background: #ccc;
  cursor: pointer;
}

.paging.current {
  background-color: #d7d7d7;
  border-color: #c7c7c7;
}

.paging.passed {
  background: #2e9ee8;
}

.paging .bar {
  display: block;
  content: '';
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #2e9ee8;
  transition: none;
}

.paging.current .bar {
  width: 100% !important;
  transition-property: width;
  transition-timing-function: linear;
}

.btn__more {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 90px;
  background: #1e7ebb;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 8px 20px;
  border: 3px solid #1e7ebb;
  border-radius: 24px;
  transition: 0.2s;
}

.btn__more:hover {
  color: #fff;
  text-decoration: none;
  border-color: #fff;
}
.btn__more:visited {
  color: #fff;
}

.btn__next,
.btn__prev {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 100px;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.btn__prev {
  left: 20px;
}
.btn__next {
  left: 105px;
}
.prev-icon,
.next-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
}
.prev-icon {
  border-width: 12px 20px 12px 0;
  border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
  padding-left: 5px;
}
.next-icon {
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
  padding-right: 5px;
}
.prev-icon:before,
.next-icon:before {
  display: inline-block;
  content: '';
  width: 5px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: -12px;
}
.prev-icon:before {
  left: 0;
}
.next-icon:before {
  right: 0;
}

.btn__pause {
  background: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 50px;
  bottom: 90px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.btn__pause:after {
  display: inline-block;
  width: 6px;
  height: 28px;
  content: '';
  border-width: 0px 8px 0px 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9);
}
.btn__pause.paused:after {
  width: 0;
  height: 0;
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
  margin-left: 4px;
}
@keyframes backgroundBouce {
  from {
    transform: scale(1);
    opacity: 0.8;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
.btn__pause.paused {
  background: rgba(255, 255, 255, 0.3);
}
.btn__pause.paused:before {
  display: inline-block;
  content: '';
  animation: backgroundBouce 2s infinite;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.btn__pause:focus {
  outline: none;
}
